@font-face {
    font-family: "shangya";
    src: url("./assets/chinese/shangya.woff") format("woff"),
    url("./assets/chinese/shangya.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */

    url("./assets/chinese/shangya.svg#shangya") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


