@font-face {
    font-family: "tongzhen";
    src: url("./assets/chinese/tongzhen.woff") format("woff"), /* chrome、firefox */
    url("./assets/chinese/tongzhen.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("./assets/chinese/tongzhen.svg#tongzhen") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


